<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="flex-grow-1">
        <a aria-label="Home" class="navbar-brand" routerLink="/home">
            <img  src="assets/img/Twitter_Social_Icon_Circle_Color.png" width="30" height="30">          
          <span class="twitter-text">
            Twitter-Clone
          </span>
        </a>
      </div>
      <div class="flex-grow-1 float-right">
        <a routerLink="/signup" class="float-right signup mr-2">Sign up</a>
        <a routerLink="/login" class="float-right login mr-2">Login</a>
      </div>
    </nav>
  </header>